@page "/"

@inject NavigationManager Navigation
<PageTitle>Home</PageTitle>
<div style="position: relative; transform: scale(1.2); display: flex; flex-direction: column; gap: 2em; justify-content: center; align-items: center;">
    <div style="position: relative; display: flex; flex-direction: row; gap: 1em; justify-content: center; align-items: center;">
        
        <button class="btn btn-primary" @onclick="@Concepts">Concepts</button>
        <button class="btn btn-primary" @onclick="@Dev">Dev</button>
        <button class="btn btn-primary" @onclick="@Design">Design</button>
    </div>

    <div style="position: relative; transform: scale(1.3); display: flex; flex-direction: row; gap: 3em; justify-content: center; align-items: center;">
        <button class="btn btn-primary" style="  left: 100%; border-width:1px; font: arial; font-weight:bold; box-shadow: rgba(0, 0, 0, 0.4) 0.1rem 0.1rem 0.8rem; text-shadow: rgba(0, 0, 0, 0.4) 0.0rem 0.1rem 0.5rem; color:white; background:linear-gradient(50deg, rgba(255, 120, 0, 0.9), rgba(0, 100, 255, 0.9)); width:15em;" @onclick="@Donut">Donut</button>
        <button class="btn btn-primary" style="  border-width:1px; font: comic sans; font-weight:bold; box-shadow: rgba(0, 0, 0, 0.4) 0.1rem 0.1rem 0.8rem; text-shadow: rgba(0, 0, 0, 0.4) 0.0rem 0.1rem 0.5rem; color:white; background:linear-gradient(50deg, rgba(255, 100, 0, 0.9), rgba(0, 80, 255, 0.9)); width:15em;" @onclick="@Donut2">Double Donut</button>
        <button class="btn btn-primary" style=" left: 0%; border-width:1px; font: comic sans; font-weight:bold; box-shadow: rgba(0, 0, 0, 0.4) 0.1rem 0.1rem 0.8rem; text-shadow: rgba(0, 0, 0, 0.4) 0.0rem 0.1rem 0.5rem; color:white; background:linear-gradient(50deg, rgba(255, 80, 0, 0.9), rgba(0, 60, 255, 0.9)); width:15em;" @onclick="@Donut3">DD Deadzone</button>

    </div>
</div>
 
@code {
    private void Concepts(MouseEventArgs e)
    {
        Navigation.NavigateTo("/Concepts");
    }

    private void Dev(MouseEventArgs e)
    {
        Navigation.NavigateTo("/Dev");
    }

    private void Design(MouseEventArgs e)
    {
        Navigation.NavigateTo("/Design");
    }

    private void Donut(MouseEventArgs e)
    {
        Navigation.NavigateTo("/Donut");
    }

    private void Donut2(MouseEventArgs e)
    {
        Navigation.NavigateTo("/DonutTest");
    }

    private void Donut3(MouseEventArgs e)
    {
        Navigation.NavigateTo("/Donut3");
    }
}

