@page "/"

@inject NavigationManager Navigation
<PageTitle>Home</PageTitle>

<div style="position: relative; display: flex; justify-content: center; align-items: center;">
    <button class="btn btn-primary" @onclick="@Concepts">Concepts</button>
    <button class="btn btn-primary" @onclick="@Dev">Dev</button>
    <button class="btn btn-primary" @onclick="@Design">Design</button>

    <button class="radial-button" style="position: absolute; font: arial; font-weight:bold; box-shadow: black 0.1rem 0.1rem 0.8rem; text-shadow: black 0.1rem 0.1rem 0.5rem; color:azure; background:linear-gradient(50deg, turquoise, magenta); width:10%; top: 34vh" @onclick="@Donut">Donut</button>
    @* <button class="radial-button" style="position: absolute; font: comic sans; font-weight:bold; box-shadow: black 0.1rem 0.1rem 0.8rem; text-shadow: black 0.1rem 0.1rem 0.5rem; color:azure; background:linear-gradient(50deg, turquoise, magenta); width:10%; top: 46vh" @onclick="@Donut2">Donut horizontal text</button>
 *@</div>

@code {
    private void Concepts(MouseEventArgs e)
    {
        Navigation.NavigateTo("/Concepts");
    }

    private void Dev(MouseEventArgs e)
    {
        Navigation.NavigateTo("/Dev");
    }

    private void Design(MouseEventArgs e)
    {
        Navigation.NavigateTo("/Design");
    }

    private void Donut(MouseEventArgs e)
    {
        Navigation.NavigateTo("/Donut");
    }

    private void Donut2(MouseEventArgs e)
    {
        Navigation.NavigateTo("/Donut2");
    }
}

